.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}
button {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
.counter {
  background-color: #f5f5f5;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.controls {
  margin-bottom: 15px;
}
p {
  font-size: 18px;
  margin-top: 15px;
}
